{% extends 'base.html' %}
{% load static %}

{% block title %}Products - hello bajar{% endblock %}

{% block extra_css %}
<style>
    .swiper:hover .swiper-button-next,
    .swiper:hover .swiper-button-prev {
        display: block !important;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }
</style>
{% endblock %}

{% block content %}


<!-- Hero Section -->
<section class="relative h-130 bg-gradient-to-r from-purple-900 via-purple-700 to-pink-600 overflow-hidden">
    <div class="absolute inset-0 bg-black opacity-40"></div>
    <div class="absolute inset-0 flex items-center justify-center text-center text-white">
        <!-- Swiper -->
        <div class="swiper w-full h-full rounded">
            <div class="swiper-wrapper">
                <div class="swiper-slide flex items-center justify-center h-full">
                    <img src="{% static 'image/banner1.jpg' %}" alt="Oil Painting 1"
                        class="w-full h-full object-cover rounded">
                </div>
                <div class="swiper-slide relative flex items-center justify-center h-full min-h-screen">
                    <div class="absolute inset-0">
                        <img src="{% static 'image/banner2.jpg' %}" alt="Oil Painting 2"
                            class="w-full h-full object-cover">

                        <div class="absolute inset-0 bg-black opacity-50"></div>
                    </div>

                    <div class="relative z-10 text-white text-center justify-center p-8 max-w-2xl">

                        <button
                            class="bg-white text-gray-900 px-8 py-3 rounded hover:bg-gray-200 transition font-bold text-sm shadow-lg">
                            READ MORE
                        </button>
                    </div>
                </div>
                <!-- Add more slides as needed -->
            </div>
            <!-- Navigation buttons -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

        </div>

    </div>
</section>

<!-- Features -->
<section class="py-8 bg-white">
    <div class="container mx-auto px-4 grid md:grid-cols-3 gap-8 text-center">
        <div>
            <div class="w-16 h-16 mx-auto mb-4 bg-green-100 rounded-full flex items-center justify-center">
                <i class="bi bi-check-lg  text-3xl text-green-600"></i>
            </div>
            <h3 class="text-xl font-bold mb-2">CHOOSE EVENTS AND TICKETS</h3>
            <p class="text-gray-600">With just a few clicks</p>
        </div>
        <div>
            <div class="w-16 h-16 mx-auto mb-4 bg-green-100 rounded-full flex items-center justify-center">
                <i class="bi bi-cart3  text-3xl text-green-600"></i>
            </div>
            <h3 class="text-xl font-bold mb-2">BUY DIRECTLY FROM ORGANIZERS</h3>
            <p class="text-gray-600">Pay online or cash on delivery</p>
        </div>
        <div>
            <div class="w-16 h-16 mx-auto mb-4 bg-green-100 rounded-full flex items-center justify-center">
                <i class="bi bi-ticket-perforated text-3xl text-green-600"></i>
            </div>
            <h3 class="text-xl font-bold mb-2">RECEIVE TICKETS</h3>
            <p class="text-gray-600">Via email or right at your door</p>
        </div>
    </div>
</section>



<!-- Featured Events -->
<section class="pb-8 bg-white">
    <div class="container mx-auto px-4">
        <div class="pb-6 max-w-sm mx-auto items-center text-center">
    <h2 class="text-3xl font-bold">
        Featured Events
    </h2>
</div>
        <div class="grid md:grid-cols-3 gap-6">

            <!-- Featured Card 1 -->
            <div class="bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition">
                <div class="relative h-48 "> <img src="{% static 'image/event2.jpg' %}"
                        class="w-full h-full object-cover">
                </div>
                <div class="p-4">
                    <h3 class="font-extrabold text-2xl text-gray-800 mb-1 group-hover:text-custom-green transition">
                        Food Exhibition 2025
                    </h3>
                    <div class="flex items-center text-sm text-gray-500 mb-3">
                        <i class="bi bi-geo-alt-fill"></i>
                        Patan, Nepal
                    </div>
                    <div class="pt-4 border-t border-gray-100 mt-4 flex justify-between items-center">
                        <p class="text-xl font-bold text-gray-800">
                            Free Entry
                        </p>
                        <a class="px-4 py-2 bg-gray-800 text-white font-medium text-sm 
                                   rounded-lg shadow-md hover:bg-emerald-600 ">
                            Details
                        </a>
                    </div>
                </div>
            </div>

            <!-- Featured Card 2 -->
            <div class="bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition">
                <div class="relative h-48 "> <img src="{% static 'image/event2.jpg' %}"
                        class="w-full h-full object-cover">
                </div>
                <div class="p-4">
                    <h3 class="font-extrabold text-2xl text-gray-800 mb-1 group-hover:text-custom-green transition">
                        Food Exhibition 2025
                    </h3>
                    <div class="flex items-center text-sm text-gray-500 mb-3">
                        <i class="bi bi-geo-alt-fill"></i>
                        Patan, Nepal
                    </div>
                    <div class="pt-4 border-t border-gray-100 mt-4 flex justify-between items-center">
                        <p class="text-xl font-bold text-gray-800">
                            Free Entry
                        </p>
                        <a class="px-4 py-2 bg-gray-800 text-white font-medium text-sm 
                                   rounded-lg shadow-md hover:bg-emerald-600 ">
                            Details
                        </a>
                    </div>
                </div>
            </div>

            <!-- Featured Card 3 -->
            <div class="bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition">
                <div class="relative h-48 "> <img src="{% static 'image/event3.jpg' %}"
                        class="w-full h-full object-cover">
                </div>
                <div class="p-4">
                    <h3 class="font-extrabold text-2xl text-gray-800 mb-1 group-hover:text-custom-green transition">
                        Food Exhibition 2025
                    </h3>
                    <div class="flex items-center text-sm text-gray-500 mb-3">
                        <i class="bi bi-geo-alt-fill"></i>
                        Patan, Nepal
                    </div>
                    <div class="pt-4 border-t border-gray-100 mt-4 flex justify-between items-center">
                        <p class="text-xl font-bold text-gray-800">
                            Entry Fee - Rs.200
                        </p>
                        <a class="px-4 py-2 bg-gray-800 text-white font-medium text-sm 
                                   rounded-lg shadow-md hover:bg-emerald-600 ">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block extra_js %}

{% endblock %}