{% extends 'base.html' %}
{% load static %}

{% block title %}Event{% endblock %}

{% block extra_css %}
<style>
    .swiper:hover .swiper-button-next,
    .swiper:hover .swiper-button-prev {
        display: block !important;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }

    @media (max-width: 1200px) {
        .swiper {
            min-height: 280px;
        }
    }
</style>
{% endblock %}

{% block content %}
<section
    class="relative h-[200px] md:h-[400px]  overflow-hidden">
    <div class="absolute inset-0 flex items-center justify-center text-center text-white">
        <!-- Swiper -->
        <div class="swiper w-full h-full rounded">
            <div class="swiper-wrapper">
                <div class="swiper-slide flex items-center justify-center h-full">
                    <img src="{% static 'image/event.jpg' %}" alt="Oil Painting 1"
                        class="w-full h-full object-cover rounded">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-10 sm:p-14 bg-white">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-8 sm:gap-4 ">

            <div class="flex flex-col items-center text-center">
                <div class="mb-3 text-3xl text-gray-800">
                    <i class="bi bi-check-lg  text-3xl text-green-600"></i>
                </div>
                <h3 class="text-lg font-semibold mb-1 text-gray-900">
                    CHOOSE EVENTS AND TICKETS
                </h3>
                <p class="text-xs text-gray-600 line-clamp-3 sm:line-clamp-none">
                    With just a few clicks </p>
            </div>

            <div class="flex flex-col items-center text-center">
                <div class="mb-3 text-3xl text-gray-800">
                    <i class="bi bi-cart3  text-3xl text-green-600"></i>
                </div>
                <h3 class="text-lg font-semibold mb-1 text-gray-900">
                    BUY DIRECTLY FROM ORGANIZERS
                </h3>
                <p class="text-xs text-gray-600 line-clamp-3 sm:line-clamp-none">
                    Pay online or cash on delivery Sed do eiusmod.
                </p>
            </div>

            <div class="flex flex-col items-center text-center">
                <div class="mb-3 text-3xl text-gray-800">
                    <i class="bi bi-ticket-perforated text-3xl text-green-600"></i>
                </div>
                <h3 class="text-lg font-semibold mb-1 text-gray-900">
                    RECEIVE TICKETS
                </h3>
                <p class="text-xs text-gray-600 line-clamp-3 sm:line-clamp-none">
                    Via email or right at your door
                </p>
            </div>
        </div>
    </div>
</section>

<section class="p-8  ">
    <div class="container mx-auto px-4">
        <div class="pb-6 max-w-sm mx-auto items-center text-center">
            <h2 class="text-3xl font-bold">
                Featured Events
            </h2>
        </div>
        <div class="grid  md:grid-cols-3 gap-6">

             {% for i in "123"|make_list %}
            <div class="bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl">
                <div class="relative h-48 "> <img src="{% static 'image/event2.jpg' %}"
                        class="w-full h-full object-cover">
                </div>
                <div class="p-4">
                    <h3 class="font-extrabold text-2xl text-gray-800 mb-1">
                        Food Exhibition 2025
                    </h3>
                    <div class="flex items-center text-sm text-gray-500 mb-3">
                        <i class="bi bi-geo-alt-fill"></i>
                        Patan, Nepal
                    </div>
                    <div class="pt-4 border-t border-gray-100 mt-4 flex justify-between items-center">
                        <p class="text-xl font-bold text-gray-800">
                            Free Entry
                        </p>
                        <a href="{% url 'website:event_detail' %}" class="px-4 py-2 bg-gray-800 text-white font-medium text-sm 
                                   rounded-lg shadow-md hover:bg-emerald-600 ">
                            Details
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}